body{
  background-color: lightblue;
}

div button {
  background-color: #fff;
  border: 0;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
}

div button:hover{
  background-color: green;
  color: #fff;
  transition: 0.5s;
}

div label{
  display: inline-block;
  width: 80px;
  text-align: center;
}

#form{
  text-align: center;
}

#form input{
  text-align: center;
}

#form #genere{
  width: 165px;
  padding-left: 2.5%;
}

#output{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #fff;
}

.contenuto{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.contenuto strong{
  color: red;
}

.hidden{
  opacity: 0;
  transition: 1s;
}

.show{
  opacity: 1;
  transition: 1s;
}
